<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<ul>
			<% posts.forEach((post) => { %> <% var parsed_item =
			JSON.parse(post.item_content)%>
			<li><%= parsed_item.content.body %></li>
			<%}) %>
		</ul>
		<form action="/messages" method="post">
			<input type="text" name="username" placeholder="Enter your username..." />
			<textarea name="message" id="message" cols="30" rows="10"></textarea>
			<input type="submit" value="Post message" />
		</form>
	</body>
</html>
